USE [BookStoreDB]
GO
ALTER TABLE [dbo].[ReceiptDetails] DROP CONSTRAINT [FK_ReceiptDetails_Receipt]
GO
ALTER TABLE [dbo].[ReceiptDetails] DROP CONSTRAINT [FK_ReceiptDetails_Book]
GO
ALTER TABLE [dbo].[Receipt] DROP CONSTRAINT [FK_Receipt_PurchaseOrder]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] DROP CONSTRAINT [FK_PurchaseOrderDetails_PurchaseOrder]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] DROP CONSTRAINT [FK_PurchaseOrderDetails_Book]
GO
ALTER TABLE [dbo].[PurchaseOrder] DROP CONSTRAINT [FK_PurchaseOrder_Supplier]
GO
ALTER TABLE [dbo].[InvoiceDetails] DROP CONSTRAINT [FK_InvoiceDetails_Invoice]
GO
ALTER TABLE [dbo].[InvoiceDetails] DROP CONSTRAINT [FK_InvoiceDetails_Book]
GO
ALTER TABLE [dbo].[Invoice] DROP CONSTRAINT [FK_Invoice_Promotion]
GO
ALTER TABLE [dbo].[Invoice] DROP CONSTRAINT [FK_Invoice_Employee]
GO
ALTER TABLE [dbo].[Invoice] DROP CONSTRAINT [FK_Invoice_Custommer]
GO
ALTER TABLE [dbo].[Customer] DROP CONSTRAINT [FK_Custommer_VIP]
GO
ALTER TABLE [dbo].[Category] DROP CONSTRAINT [FK_Category_Supplier]
GO
ALTER TABLE [dbo].[Book] DROP CONSTRAINT [FK_Book_Publisher]
GO
ALTER TABLE [dbo].[Book] DROP CONSTRAINT [FK_Book_Category]
GO
ALTER TABLE [dbo].[Account] DROP CONSTRAINT [FK_Account_Employee]
GO
/****** Object:  Index [unique_IDCard]    Script Date: 10/01/2022 8:04:27 PM ******/
ALTER TABLE [dbo].[Employee] DROP CONSTRAINT [unique_IDCard]
GO
/****** Object:  Index [unique_Employee]    Script Date: 10/01/2022 8:04:27 PM ******/
ALTER TABLE [dbo].[Account] DROP CONSTRAINT [unique_Employee]
GO
/****** Object:  Table [dbo].[VIP]    Script Date: 10/01/2022 8:04:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VIP]') AND type in (N'U'))
DROP TABLE [dbo].[VIP]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 10/01/2022 8:04:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Supplier]') AND type in (N'U'))
DROP TABLE [dbo].[Supplier]
GO
/****** Object:  Table [dbo].[ReceiptDetails]    Script Date: 10/01/2022 8:04:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ReceiptDetails]') AND type in (N'U'))
DROP TABLE [dbo].[ReceiptDetails]
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 10/01/2022 8:04:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Receipt]') AND type in (N'U'))
DROP TABLE [dbo].[Receipt]
GO
/****** Object:  Table [dbo].[PurchaseOrderDetails]    Script Date: 10/01/2022 8:04:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PurchaseOrderDetails]') AND type in (N'U'))
DROP TABLE [dbo].[PurchaseOrderDetails]
GO
/****** Object:  Table [dbo].[PurchaseOrder]    Script Date: 10/01/2022 8:04:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PurchaseOrder]') AND type in (N'U'))
DROP TABLE [dbo].[PurchaseOrder]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 10/01/2022 8:04:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Publisher]') AND type in (N'U'))
DROP TABLE [dbo].[Publisher]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 10/01/2022 8:04:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Promotion]') AND type in (N'U'))
DROP TABLE [dbo].[Promotion]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 10/01/2022 8:04:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InvoiceDetails]') AND type in (N'U'))
DROP TABLE [dbo].[InvoiceDetails]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 10/01/2022 8:04:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Invoice]') AND type in (N'U'))
DROP TABLE [dbo].[Invoice]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/01/2022 8:04:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND type in (N'U'))
DROP TABLE [dbo].[Employee]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/01/2022 8:04:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Customer]') AND type in (N'U'))
DROP TABLE [dbo].[Customer]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/01/2022 8:04:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
DROP TABLE [dbo].[Category]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 10/01/2022 8:04:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Book]') AND type in (N'U'))
DROP TABLE [dbo].[Book]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/01/2022 8:04:27 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Account]') AND type in (N'U'))
DROP TABLE [dbo].[Account]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/01/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserName] [varchar](30) NOT NULL,
	[PassWord] [varchar](30) NOT NULL,
	[EmployeeID] [varchar](20) NOT NULL,
	[Roles] [bit] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 10/01/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [varchar](20) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Author] [nvarchar](50) NOT NULL,
	[DatePublished] [datetime] NOT NULL,
	[CategoryID] [varchar](20) NOT NULL,
	[PublisherID] [varchar](20) NOT NULL,
	[ImportDate] [datetime] NOT NULL,
	[Stock] [int] NOT NULL,
	[BuyPrice] [decimal](18, 0) NULL,
	[SellPrice] [decimal](18, 0) NOT NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/01/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [varchar](20) NOT NULL,
	[CategoryName] [nvarchar](30) NOT NULL,
	[SupplierID] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/01/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [varchar](20) NOT NULL,
	[FullName] [nvarchar](30) NOT NULL,
	[PhoneNumber] [varchar](12) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[VIPID] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Custommer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/01/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [varchar](20) NOT NULL,
	[FullName] [nvarchar](30) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Sex] [nvarchar](4) NOT NULL,
	[IDCard] [varchar](15) NOT NULL,
	[PhoneNumber] [varchar](12) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 10/01/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceID] [varchar](20) NOT NULL,
	[Date] [datetime] NOT NULL,
	[EmployeeID] [varchar](20) NOT NULL,
	[PromotionID] [varchar](20) NULL,
	[CustomerID] [varchar](20) NULL,
	[Total] [decimal](18, 0) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 10/01/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[InvoiceID] [varchar](20) NOT NULL,
	[BookID] [varchar](20) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_InvoiceDetails_1] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC,
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 10/01/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[PromotionID] [varchar](20) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[Duration] [int] NOT NULL,
	[Discount] [float] NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Promotion] PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 10/01/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[PublisherID] [varchar](20) NOT NULL,
	[PublisherName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Publisher] PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrder]    Script Date: 10/01/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrder](
	[PurchaseOrderID] [varchar](20) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[ExDeliverDate] [datetime] NULL,
	[SupplierID] [varchar](20) NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_PurchaseOrder_1] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderDetails]    Script Date: 10/01/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetails](
	[PurchaseOrderID] [varchar](20) NOT NULL,
	[BookID] [varchar](20) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_PurchaseOrder] PRIMARY KEY CLUSTERED 
(
	[PurchaseOrderID] ASC,
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 10/01/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt](
	[ReceiptID] [varchar](20) NOT NULL,
	[PurchaseOrderID] [varchar](20) NOT NULL,
	[ImportDate] [datetime] NOT NULL,
	[Status] [bit] NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Receipt] PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceiptDetails]    Script Date: 10/01/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptDetails](
	[ReceiptID] [varchar](20) NOT NULL,
	[BookID] [varchar](20) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_ReceiptDetails_1] PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC,
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 10/01/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [varchar](20) NOT NULL,
	[SupplierName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[PhoneNumber] [varchar](12) NOT NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIP]    Script Date: 10/01/2022 8:04:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIP](
	[VIPID] [varchar](20) NOT NULL,
	[Discount] [float] NOT NULL,
 CONSTRAINT [PK_VIP] PRIMARY KEY CLUSTERED 
(
	[VIPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([UserName], [PassWord], [EmployeeID], [Roles]) VALUES (N'a', N'aA00', N'NV01', 1)
INSERT [dbo].[Account] ([UserName], [PassWord], [EmployeeID], [Roles]) VALUES (N'nhanvien', N'bB00', N'NV02', 0)
GO
INSERT [dbo].[Book] ([BookID], [Title], [Author], [DatePublished], [CategoryID], [PublisherID], [ImportDate], [Stock], [BuyPrice], [SellPrice], [Image]) VALUES (N'B001', N'Testttt', N'abc', CAST(N'2018-10-18T00:00:00.000' AS DateTime), N'TL01', N'NXB1', CAST(N'2020-10-21T00:00:00.000' AS DateTime), 7, NULL, CAST(120000 AS Decimal(18, 0)), NULL)
GO
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [SupplierID]) VALUES (N'TL01', N'Thiếu Nhi', N'NCC000001')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [SupplierID]) VALUES (N'TL02', N'Hành Động', N'NCC000002')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [SupplierID]) VALUES (N'TL612022_225947', N'Kinh Doanh', N'NCC000001')
GO
INSERT [dbo].[Customer] ([CustomerID], [FullName], [PhoneNumber], [Address], [VIPID]) VALUES (N'KH_TTN001', N'Trần Thị Quỳnh Nga', N'09878777148', N'Tp.HCM', N'V00')
GO
INSERT [dbo].[Employee] ([EmployeeID], [FullName], [DateOfBirth], [Sex], [IDCard], [PhoneNumber], [Email], [Address]) VALUES (N'NV01', N'Phạm Minh Cơ', CAST(N'2001-01-01T00:00:00.000' AS DateTime), N'Nam', N'210025890', N'0384994777', N'phamminhco@gmail.com', N'Hoài Nhơn - Bình Định')
INSERT [dbo].[Employee] ([EmployeeID], [FullName], [DateOfBirth], [Sex], [IDCard], [PhoneNumber], [Email], [Address]) VALUES (N'NV02', N'Nguyễn Thị An Ninh', CAST(N'2001-01-02T00:00:00.000' AS DateTime), N'Nữ', N'212253866', N'0987777512', N'nguyenthi@gmail.com', N'Đà Nẵng')
INSERT [dbo].[Employee] ([EmployeeID], [FullName], [DateOfBirth], [Sex], [IDCard], [PhoneNumber], [Email], [Address]) VALUES (N'NV712022_14100', N'Nguyễn Lung Linh', CAST(N'2000-02-14T14:08:49.000' AS DateTime), N'Nữ', N'2000024100', N'0334886157', N'lunglinh@gmail.com', N'Q.Bình Thạnh, Tp.HCM')
GO
INSERT [dbo].[Invoice] ([InvoiceID], [Date], [EmployeeID], [PromotionID], [CustomerID], [Total], [Note]) VALUES (N'HD000001', CAST(N'2021-11-07T10:59:00.390' AS DateTime), N'NV01', N'KM001', NULL, CAST(320000 AS Decimal(18, 0)), N'ssss')
INSERT [dbo].[Invoice] ([InvoiceID], [Date], [EmployeeID], [PromotionID], [CustomerID], [Total], [Note]) VALUES (N'HD0002_48', CAST(N'2021-11-07T16:55:48.447' AS DateTime), N'NV02', N'KM001', NULL, CAST(160000 AS Decimal(18, 0)), N'Hehe')
INSERT [dbo].[Invoice] ([InvoiceID], [Date], [EmployeeID], [PromotionID], [CustomerID], [Total], [Note]) VALUES (N'HD0003_26', CAST(N'2021-11-08T13:16:26.333' AS DateTime), N'NV02', N'KM001', NULL, CAST(240000 AS Decimal(18, 0)), N'')
GO
INSERT [dbo].[InvoiceDetails] ([InvoiceID], [BookID], [Quantity], [UnitPrice]) VALUES (N'HD000001', N'B002', 2, CAST(200000 AS Decimal(18, 0)))
INSERT [dbo].[InvoiceDetails] ([InvoiceID], [BookID], [Quantity], [UnitPrice]) VALUES (N'HD0002_48', N'B002', 1, CAST(200000 AS Decimal(18, 0)))
INSERT [dbo].[InvoiceDetails] ([InvoiceID], [BookID], [Quantity], [UnitPrice]) VALUES (N'HD0003_26', N'B04', 2, CAST(150000 AS Decimal(18, 0)))
GO
INSERT [dbo].[Promotion] ([PromotionID], [StartDate], [Duration], [Discount], [Note]) VALUES (N'KM001', CAST(N'2021-11-01T00:00:00.000' AS DateTime), 10, 0.2, N'Siêu sale')
GO
INSERT [dbo].[Publisher] ([PublisherID], [PublisherName]) VALUES (N'NXB1', N'Kim đồng')
INSERT [dbo].[Publisher] ([PublisherID], [PublisherName]) VALUES (N'NXB2', N'Test')
INSERT [dbo].[Publisher] ([PublisherID], [PublisherName]) VALUES (N'NXB3', N'ĐHQG Hà Nội')
GO
INSERT [dbo].[PurchaseOrder] ([PurchaseOrderID], [OrderDate], [ExDeliverDate], [SupplierID], [Note]) VALUES (N'DDH712022_131911', CAST(N'2022-01-07T13:19:11.113' AS DateTime), CAST(N'2022-02-10T00:00:00.000' AS DateTime), N'NCC000002', N'')
INSERT [dbo].[PurchaseOrder] ([PurchaseOrderID], [OrderDate], [ExDeliverDate], [SupplierID], [Note]) VALUES (N'DDH712022_94317', CAST(N'2022-01-07T09:43:17.443' AS DateTime), CAST(N'2022-01-15T00:00:00.000' AS DateTime), N'NCC000001', N'testt')
INSERT [dbo].[PurchaseOrder] ([PurchaseOrderID], [OrderDate], [ExDeliverDate], [SupplierID], [Note]) VALUES (N'PO01', CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2018-01-20T00:00:00.000' AS DateTime), N'NCC000001', NULL)
GO
INSERT [dbo].[PurchaseOrderDetails] ([PurchaseOrderID], [BookID], [Quantity]) VALUES (N'DDH712022_131911', N'B04', 10)
INSERT [dbo].[PurchaseOrderDetails] ([PurchaseOrderID], [BookID], [Quantity]) VALUES (N'DDH712022_94317', N'B002', 30)
INSERT [dbo].[PurchaseOrderDetails] ([PurchaseOrderID], [BookID], [Quantity]) VALUES (N'PO01', N'B001', 20)
GO
INSERT [dbo].[Receipt] ([ReceiptID], [PurchaseOrderID], [ImportDate], [Status], [Note]) VALUES (N'BL000001', N'PO01', CAST(N'2019-01-10T21:33:56.000' AS DateTime), 1, NULL)
INSERT [dbo].[Receipt] ([ReceiptID], [PurchaseOrderID], [ImportDate], [Status], [Note]) VALUES (N'BL712022_132452', N'DDH712022_131911', CAST(N'2021-11-05T21:33:56.000' AS DateTime), 0, N'Thiếu e 1 nửa')
GO
INSERT [dbo].[ReceiptDetails] ([ReceiptID], [BookID], [Quantity], [UnitPrice]) VALUES (N'BL000001', N'B001', 20, CAST(200000 AS Decimal(18, 0)))
INSERT [dbo].[ReceiptDetails] ([ReceiptID], [BookID], [Quantity], [UnitPrice]) VALUES (N'BL000001', N'B002', 30, CAST(100000 AS Decimal(18, 0)))
INSERT [dbo].[ReceiptDetails] ([ReceiptID], [BookID], [Quantity], [UnitPrice]) VALUES (N'BL712022_132452', N'B04', 5, CAST(30000 AS Decimal(18, 0)))
GO
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [Address], [PhoneNumber]) VALUES (N'NCC000001', N'Binh Minh', N'20A, Võ Văn Ngân, Tp.Thủ Đức', N'0982222777')
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [Address], [PhoneNumber]) VALUES (N'NCC000002', N'CODERVN', N'Cầu Giấy, Hà Nội', N'0988561445')
GO
INSERT [dbo].[VIP] ([VIPID], [Discount]) VALUES (N'V00', 0)
INSERT [dbo].[VIP] ([VIPID], [Discount]) VALUES (N'V01', 0.4)
INSERT [dbo].[VIP] ([VIPID], [Discount]) VALUES (N'V02', 0.3)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_Employee]    Script Date: 10/01/2022 8:04:27 PM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [unique_Employee] UNIQUE NONCLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_IDCard]    Script Date: 10/01/2022 8:04:27 PM ******/
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [unique_IDCard] UNIQUE NONCLUSTERED 
(
	[IDCard] ASC,
	[PhoneNumber] ASC,
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Employee]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Category]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Publisher] FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publisher] ([PublisherID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Publisher]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Supplier]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Custommer_VIP] FOREIGN KEY([VIPID])
REFERENCES [dbo].[VIP] ([VIPID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Custommer_VIP]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Custommer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Custommer]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Employee]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Promotion] FOREIGN KEY([PromotionID])
REFERENCES [dbo].[Promotion] ([PromotionID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Promotion]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Book]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Invoice] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoice] ([InvoiceID])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Invoice]
GO
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrder_Supplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[PurchaseOrder] CHECK CONSTRAINT [FK_PurchaseOrder_Supplier]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrderDetails_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [FK_PurchaseOrderDetails_Book]
GO
ALTER TABLE [dbo].[PurchaseOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrderDetails_PurchaseOrder] FOREIGN KEY([PurchaseOrderID])
REFERENCES [dbo].[PurchaseOrder] ([PurchaseOrderID])
GO
ALTER TABLE [dbo].[PurchaseOrderDetails] CHECK CONSTRAINT [FK_PurchaseOrderDetails_PurchaseOrder]
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_PurchaseOrder] FOREIGN KEY([PurchaseOrderID])
REFERENCES [dbo].[PurchaseOrder] ([PurchaseOrderID])
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_Receipt_PurchaseOrder]
GO
ALTER TABLE [dbo].[ReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptDetails_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[ReceiptDetails] CHECK CONSTRAINT [FK_ReceiptDetails_Book]
GO
ALTER TABLE [dbo].[ReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReceiptDetails_Receipt] FOREIGN KEY([ReceiptID])
REFERENCES [dbo].[Receipt] ([ReceiptID])
GO
ALTER TABLE [dbo].[ReceiptDetails] CHECK CONSTRAINT [FK_ReceiptDetails_Receipt]
GO
